<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div class="main-content" role="main">
  <app-app-cart></app-app-cart>
  <div class="app-header-container">
    <app-app-header></app-app-header>
  </div>
  <div class="app-body-container">
    <router-outlet></router-outlet>
    <app-app-loader></app-app-loader>
  </div>
  <div class="app-footer-container">
    <app-app-footer></app-app-footer>
  </div>
</div>